@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Gowun+Batang:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --salmao: rgb(216, 180, 182);
    --branco: rgb(248, 241, 241);
    --vermelho: rgb(203, 14, 84);
    --preto: rgb(5, 8, 10);
    ---fonte-primaria: "Gupter", serif;
    ---fonte-segundaria: "Poppins", sans-serif;
    }

    body{
        background-color: var(--branco);
        font-family: var(---fonte-segundaria);
        color: var(--preto);
        min-height: 100vh;
    }

header {
    background-color: var(--preto);
    text-align: center;
}

h1 {
    font-family: var(--fonte-titulo);
    font-size: 3em;
    color: var(--salmao);
    padding: 0.5em 0;
}

nav {
    display: flex;
    justify-content: center;
    font-weight: 400;
}

nav a {
    text-decoration: none;
    color: var(--branco);
    font-size: 2em;
    margin: 0 1em 0.5em 0;
}
nav a:hover{
    text-decoration: underline;
    color: var(--salmao);
    transform: scale(0.9);
    transition-duration: 0.3s;
}
.caixa-grafico{
    margin: 5rem;
}

.caixa-grafico__texto{
    font-size: 1.5rem;
    background-color: var(--vermelho);
    padding: 2rem;
    border-radius: 15px;
    border: var(--preto) double 5px;
}

span{
    font-family: var(--fonte-titulo);
    color: var(--branco);
    font-size: 40px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--preto);
    color:var(--branco);
    width: 100%;
    height: 3rem;
    margin-top: 2rem;
    font-size: 1.8rem;
}